*.db
*.log
*.exe
*.pdb
*.ilk
*.ipdb
*.iobj
*.txt

liton_cpp_snippets_subtree_pull.bat
liton_cpp_snippets_subtree_push.bat

test/.vs/
test/test_time/Release/
test/test_time/Debug/
test/test_file/Release/
test/test_file/Debug/
test/test_env/Debug/
test/test_env/Release/
test/test_debug/Debug/
test/test_debug/Release/
