*.db
*.opendb
*.log
*.exe
*.pdb
*.ilk
*.ipdb
*.iobj
*.txt
*.bat

test/.vs/
test/.vscode/
test/test_time/Release/
test/test_time/Debug/
test/test_file/Release/
test/test_file/Debug/
test/test_env/Debug/
test/test_env/Release/
test/test_debug/Debug/
test/test_debug/Release/
